---
layout: default
---

{% include scroll-progress-bar.html %}
<!-- Fixed navbar -->
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ site.url }}{{ site.baseurl }}">{{ site.name }}</a>
        </div>
        <div class="navbar-collapse collapse navbar-right">
            <ul class="nav navbar-nav">     
            {% for nav in site.nav %}
                {% if nav.url contains 'http://' or nav.url contains 'https://' %}
                <li><a href="{{ nav.url }}">{{ nav.name }}</a></li>
                {% else %}
                <li><a href="{{ nav.url | prepend: site.baseurl }}">{{ nav.name }}</a></li>
                {% endif %}
            {% endfor %}
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</div>

<div id="blue">
	<div class="container">
		<div class="row">
			<h3>Post.</h3>
				
		</div><!-- /row -->
	</div> <!-- /container -->
</div><!-- /blue -->

<div class="container mtb">

	<div class="row">
	
		<div class="col-lg-9">	
			<h2>{{ page.title }}</h2>			
			
			<br />
					
			<hr />
			
			{{ content }}

			<br />
				
			<!-- Comment -->
			{% if page.comments %}
			<div class="post-comment">
				<section id="comment_thread"></section>
				{% include comment.html %}
			</div>
			{% endif %}
		</div>		

		<div class="col-md-3">	
			
			<div class="card" style="width: 18rem;">
				<div class="card-body">
					<h4>Post Date</h4>
					<div class="hline"></div>
					<h5 class="card-subtitle mb-2 text-body-secondary"><time>{{ page.date |  date: '%Y-%m-%d' }}</time></h5>    
				</div>
			</div>
			
			<div class="card" style="width: 18rem;">
				<div class="card-body">
					<h4>작성자</h4>
					<div class="hline"></div>
					<h5 class="card-subtitle mb-2 text-body-secondary">선경선향아빠</h5>    
				</div>
			</div>
			
			<div class="card" style="width: 18rem;">
				<div class="card-body">
					<h4>Tags</h4>
					<div class="hline"></div>
					{% for tag in page.tags %}
					<li>
						<a href="{{ site.url }}{{ site.baseurl }}/tags#{{ tag }}">
							<span>{{ tag }}</span>
						</a>
					</li>
					{% unless forloop.last %}{% endunless %} {% endfor %}		 
				</div>
			</div>	

			<div class="card" style="width: 18rem;">
				<div class="card-body">
					<h4>Counter</h4>
					<div class="hline"></div>					
					<a href="https://hits.seeyoufarm.com"><img src="https://hits.seeyoufarm.com/api/count/incr/badge.svg?url=https%3A%2F%2Fskshppa80.github.io&count_bg=%2379C83D&title_bg=%23555555&icon=&icon_color=%23E7E7E7&title=hits&edge_flat=false"/></a>					
				</div>
			</div>
			
		</div>
		
	</div>		
</div>
